@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.material-symbols-rounded {
    vertical-align: middle; /* centralizar verticalmente */
    font-size: 16pt !important;

    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

:root {
    --base-00: #15161d;
    --base-01: #35353b;

    --text-normal: white;
    --text-light: #bbbbbb;
    /*--text-faint: #9a9aab;*/
    --text-faint: #999999;

    --trans-00: #0000004b;
    --trans-01: #0000002d;
    --trans-02: #0000005c;
}

* {
    color: var(--text-normal);
    font-family: inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--base-00);
    margin: 10px;
}

main {
    /* mostrar as duas colunas lado a lado */
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.small-icons .material-symbols-rounded {
    font-size: 12pt !important;
}

#video-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1; /* ocupar todo o espaço restante da tela */
}

.video-item {
    /* mantém a video-info ao lado da thumbnail em vez de em baixo */
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--base-01);
    border-radius: 5px;
}

.video-item > .video-thumbnail {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.video-info > .title {
    font-weight: 400;
}

.add-videos-container {
    display: flex;
    width: 100%;

    border-radius: 5px !important;
    background-color: var(--trans-00);
    border: none;
}

.add-videos-container input,
.add-videos-container button {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
}

.add-videos-container button {
    width: min-content !important;
}

/* .add-videos-container button * {
    color: var(--text-faint);
}*/

.add-videos-container input {
    /* preencher a largura inteira, deixando o botão por último com tamanho mínimo */
    flex: 1;
}

.add-videos-container input::placeholder {
    color: var(--text-faint);
}

.sub-info {
    font-size: small;
}

#side-bar {
    background-image: linear-gradient(to top, #00000000, #6d3f34); /* cor de vídeo simulada */
    max-width: 320px;
    height: 2000px;
    border-radius: 5px;
    padding: 10px;
}

#side-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#side-bar > #actions {
    /* espaço vertical especificamente só entre os botões */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#side-bar > .numerical-info {
    font-size: small;
}

#playlist-duration {
    background-color: var(--trans-00);
    border-radius: 50px;
    padding: 2px 10px;
}

#playlist-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#playlist-title {
    font-size: x-large;
    font-weight: bold;
}

.light, .light * {
    color: var(--text-light);
}

.faint, .faint * {
    color: var(--text-faint);
}

#playlist-description {
    font-size: small;
}

#side-bar button, #side-bar input {
    padding: 6px 10px;
    border-radius: 50px;
}

#side-bar button {
    background-color: var(--trans-00);
    border: none;
    outline: none;
}

#side-bar button:hover {
    background-color: var(--trans-02);
    cursor: pointer;
}

#side-bar button:focus {
    background-color: var(--trans-01);
}

button.special {
    background-color: #bbbbbb48 !important;
    color: white;
    /*border-bottom: 2px solid gray !important;*/
    font-weight: 500;
}