.icon {
    display: inline-block;
    font-size: medium !important;
    vertical-align: middle; /* centralizar verticalmente */
}

:root {
    --base-00: #181919;
    --base-01: #35353b;

    --text-normal: white;
    --text-light: #bbbbbb;
    --text-faint: #999999;

    --translucid-00: #0000004b;
    --translucid-01: #0000002d;
    --translucid-02: #0000005c;
}

* {
    color: var(--text-normal);
    font-family: inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--base-00);
    margin: 10px;
}

main {
    /* mostrar as duas colunas lado a lado */
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.small-icons .material-symbols-rounded {
    font-size: 12pt !important;
}

#video-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1; /* ocupar todo o espaço restante da tela */
}

.video-item {
    /* mantém a video-info ao lado da thumbnail em vez de em baixo */
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--base-01);
    border-radius: 5px;
}

.selected {
    border-color: white;
}

.video-item > .video-thumbnail {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.video-info > .title {
    font-weight: 400;
}

.add-videos-container {
    display: flex;
    width: 100%;

    border-radius: 5px !important;
    background-color: var(--translucid-00);
    border: none;
}

.add-videos-container input,
.add-videos-container button {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
}

.add-videos-container button {
    width: min-content !important;
}

.add-videos-container input {
    /* preencher a largura inteira, deixando o botão por último com tamanho mínimo */
    flex: 1;
}

.add-videos-container input::placeholder {
    color: var(--text-faint);
}

.sub-info {
    font-size: small;
}

#side-bar {
    background-image: linear-gradient(to top, #00000000, #303132);
    max-width: 320px;
    height: 2000px;
    border-radius: 5px;
    padding: 10px;
}

#side-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#side-bar > #actions {
    /* espaço vertical especificamente só entre os botões */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#side-bar > .numerical-info {
    font-size: small;
}

#playlist-duration {
    background-color: var(--translucid-00);
    border-radius: 50px;
    padding: 2px 10px;
}

#playlist-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#playlist-title {
    font-size: x-large;
    font-weight: bold;
}

.light, .light * {
    color: var(--text-light);
}

.faint, .faint * {
    color: var(--text-faint);
}

#playlist-description {
    font-size: small;
}

#side-bar button, #side-bar input {
    padding: 6px 10px;
    border-radius: 50px;
}

#side-bar button {
    background-color: var(--translucid-00);
    border: none;
    outline: none;
}

#side-bar button:hover {
    background-color: var(--translucid-02);
    cursor: pointer;
}

#side-bar button:focus {
    background-color: var(--translucid-01);
}

button.special {
    background-color: #bbbbbb48 !important;
    color: white;
    /*border-bottom: 2px solid gray !important;*/
    font-weight: 500;
}

nav {
    width: 100%;
    margin-bottom: 10px;
}

nav input {
    width: 100%;
    border-radius: 5px !important;
    padding: 5px 10px;
    background-color: #303132;
    border: none;
    color: var(--text-light);
}

.title a {
    text-decoration: none;
}
